
/***** 分销后台 *****/

.admin-page-title{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px 6px;
    border-bottom: 5px solid #e6e6e6;
}

.user-data-area{
    border-bottom: 5px solid #e6e6e6;
}
.user-data-area .data-title{
    font-size: 13px;
    text-align: center;
    padding: 8px 0;
    height: 21px;
    line-height: 21px;
    border-bottom: 3px solid #8ec81c;
}
.data-list{
    width: 100%;
}
.data-list .data-item{
    width: 33.3%;
    height: 66px;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    float: left;
}
.data-list .data-item:nth-child(3n){
    border-right: none;
}
.data-item .data-numb{
    font-weight: bold;
    display: block;
    padding: 10px 4px;
    text-align: center;
}
.data-item .data-name{
    display: block;
    padding: 5px 4px;
    text-align: center;
    font-size: 10px;
    color: #7f7f7f;
}
.data-item .data-item-icon{
    display: block;
    padding: 5px 0 2px;
    width: 80%;
    height: 40px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}
.data-item-icon img{
    display: inline-block;
    width: auto;
    height: 100%;
}
.func-list .data-name{
    color: #3d3d3d;
}
.func-item .data-name{
    padding: 0 4px;
    text-align: center;
}
.add-data-item{
    background: url("../images/add_icon_1.png") 44px center no-repeat;
    background-size: auto 26px;
}


.add-func-item .item-box{
    background: url("../images/add_signal_icon.png") center no-repeat;
    background-size: 20px auto;
}








