
/***** 规格参数 *****/

.product-img-box{
    width: 100%;
    height: 327px;
    background: url("../images/add_icon.png") center no-repeat;
    background-size: 60px auto;
    border-bottom: 2px solid #fdf6f6;
}
.product-desc-box{
    font-size: 12px;
    color: #191919;
    text-align: justify;
    padding: 10px;
}
.product-price-box{
    padding: 0 10px 2px;
    color: #f15352;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #fdf6f6;
}
.product-pick-box{
    display: block;
    padding: 4px 10px;
    border-bottom: 1px solid #fdf6f6;
    background: url("../images/arrow_right.png") 290px center no-repeat;
    background-size: auto 15px;
}
.pick-title{
    margin-right: 22px;
}
.pick-intro{
    margin-right: 50px;
}

.address-info-box{
    display: block;
    padding: 4px 10px;
    border-bottom: 1px solid #fdf6f6;
    font-size: 0;
}
.address-title{
    margin-right: 5px;
    vertical-align: middle;
    font-size: 12px;
}
.address-text{
    padding-left: 15px;
    background: url("../images/position_icon.png") 0 center no-repeat;
    background-size: auto 16px;
    display: inline-block;
    width: 178px;
    vertical-align: middle;
    font-size: 12px;
}
.change-address{
    display: inline-block;
    color: #7e8188;
    vertical-align: middle;
    font-size: 12px;
}

.address-iframe{
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    border: none;
}

