body,html{
    background: #f2f2f2;
}
/***** 重置密码 *****/
.top-bar-area .middle-box{
    width: 240px;
}
.reset-area{

}
.input-item{
    display: block;
    width: 100%;
    background: #fff;
    font-size: 0;
    padding: 10px 0;
    margin-bottom: 3px;
    position: relative;
}
.input-name{
    display: inline-block;
    width: 70px;
    margin-right: 5px;
    text-align: center;
    font-size: 15px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}
.input-box{
    display: inline-block;
    width: 220px;
    height: 20px;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
}

.input-box input{
    display: block;
    padding: 0;
    border: 0;
    padding-left: 5px;
    width: 210px;
    height: 20px;
    overflow: hidden;
    margin: 0;
}
.submit-btn{
    display: block;
    width: 292px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background: #ff8032;
    border-radius: 5px;
    margin: 50px auto 12px;
    color: #fff;
}


.reset-tips{
    color: #b3b3b3;
    padding: 10px 18px;
}
.get-code-btn{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: block;
    background: #ff8032;
    color: #fff;
    top: 5px;
    right: 5px;
    border-radius: 4px;
    position: absolute;
    font-size: 12px;
}
.code-item .input-box{
    border-left: 1px solid #f2f2f2;
}
.code-item .input-name{
    color: #ff8032;
}