html{
    font-size: 10px;
    line-height: 1.5;
}
html,body{
    color: #191a1f;
}
.page-container{
    font-size: 1.4rem;
}
.clearfloat:after{
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    content: '';
}
.top-platform-name{
    background: #fff;
    font-size: 3.0rem;
    color: #808080;
    padding: 15px 30px;
}
.top-platform-name{
    border-bottom: 3px solid #cacaca;
}
.page-sidebar{
    margin-top: -3px;

}

.nav-add-btn{
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: #575d69;
    font-size: 2.4rem;
    color: #b3b3b3;
    margin: 20px auto;
    padding-left: 30px;
}


.user-info-area{
    padding: 30px 45px;
    font-size: 3.0rem;
}
.logout-btn{
    color: #808080;
    font-size: 3.0rem;
    float: right;
    text-decoration: underline;
}


/** 重写样式 **/
.chosen-container-single .chosen-single span{
    margin-right: 10px;
}
.chosen-container-single .chosen-single div b{
    display: none;
}


.color-orange{
    color: #ff8032;
}
